export RECAPTCHA_API_KEY=
export DB_HOST=localhost
export DB_PORT=3306
export REDIS_HOST=localhost
export REDIS_PORT=6379
export ELASTICSEARCH_HOSTS=http://localhost:9200
export MAIL_HOST=
export MAIL_PORT=
export MAIL_FROM_ADDRESS=
export MAIL_FROM_NAME=
export MAIL_BCC_ADDRESS=
export MAIL_BCC_NAME=
export MAIL_USERNAME=
export MAIL_PASSWORD=